body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-size: 9pt;
    line-height: 20px
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 210mm;
    /*min-height: 297mm;*/
    padding: 10mm;
    margin: 1cm auto;
    border: 1px #000 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    /*padding: 10mm;*/
    /*height: 297mm;*/
    /*outline: 20mm #fff solid;*/
}
 
@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.pull-left {float: left}
.pull-right {float: right}
.text-center {text-align: center}
.text-right {text-align: right}
.clearfix {clear: both}

.order-detail { width: 100%; border-collapse: collapse}
.order-detail td { border: solid 1px #000;padding: 0 5px;vertical-align: middle}
.total-cash-table td {padding: 0 5px}