
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="row">
    <br />
    <div class="message-alert" id="alert-container"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                Đổi mật khẩu
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-m-4">
                        <div class="form-group">
                            <label>Mật khẩu cũ</label>
                            @*@Html.TextBoxFor(o => o.Customer.CustomerName, new { @class = "form-control customer-info", @id = "txtCustomerName" })*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-m-4"></div>
                </div>
                <div class="row">
                    <div class="col-m-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@*&%#!99*@
<div class="row">
    <div class="col-md-12">@("123456&%#!99".ToMD5())</div>
</div>
