@model MVCWeb.Models.OrderManageModel

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="row">
    <br />
    <div class="message-alert" id="alert-container"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Lịch sử đơn hàng
            </div>
            <div class="panel-body">
                @using (Ajax.BeginForm("Manage", "Order", new AjaxOptions
                {
                    OnSuccess = "orderManageCallBack",
                    LoadingElementId = "orderManageLoading"
                }, new {@id = "frmOrderManage"}))
                {
                    <div class="row">
                        <div class="col-md-10">
                            <table class="pull-left">
                                <tr>
                                    <td style="width: 130px">
                                        <strong>Tìm theo khách:</strong>
                                    </td>
                                    <td>
                                        <input type="text" id="txtCustomer" placeholder="Từ khóa..." />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-2">
                            <label>Tìm theo ngày tạo</label>
                            @Html.TextBoxFor(m => m.CreateOn, new { @class = "form-control datepicker-control", @readonly = "readonly", @id = "txtRunDate" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="customer-suggestion-datasource" value="@Url.Action("GetCustomerSuggestion", "DataSource")" />

@section OptionalCss {
    <link href="~/Content/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/Content/typeahead/typeahead-bootstrap.css" rel="stylesheet" />
}
@section OptionalJs {
    <script src="~/Content/typeahead/typeahead.bundle.js"></script>
    <script src="~/Content/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="~/Scripts/confirmation/bootstrap-confirmation.min.js"></script>
    <script src="~/Scripts/views/order-manage.js"></script>
}
